{% extends "myapp/layout.html" %} {% block body %}
<style>
  .box-container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
  }

  .box-display {
    font-size: 10px !important;
    border: solid gray 2px;
    border-radius: 15px;
    padding: 15px;
    min-width: 200px;
    min-height: 200px;
    margin: 10px;
  }
  h3 {
    font-size: 15px;
  }
</style>
<div>
  <title>HELLO</title>
  <h1>Apple Music Home Page</h1>
  <h2><a href="{% url 'artistHome'%}">Artists:</a></h2>
  <div class="box-container">
    {% for artist in artists %}
    <div class="box-display">
      <h3>
        Artist:
        <a href="{% url 'artistPage' artist.artistID %}"
          >{{ artist.artistName }}</a
        >
      </h3>
      <h3>Genre: {{artist.genre}}</h3>
      <p>
        <a href="{% url 'updateArtist' artist.artistID %}">UPDATE ARTIST</a>
      </p>

      <p>
        <a href="{% url 'deleteArtist' artist.artistID %}">DELETE ARTIST</a>
      </p>
    </div>
    {% endfor %}
  </div>
  <h2><a href="{% url 'albumHome' %}">Albums:</a></h2>
  <div class="box-container">
    {% for album in albums %}
    <div class="box-display">
      <h3>
        Album:
        <a href="{% url 'albumPage' album.albumID%}">{{ album.albumName }}</a>
      </h3>
      <h3>Artist: {{album.artistID.artistName}}</h3>
      <h3>Number of Songs: {{ album.numberOfSongs }}</h3>
      <h3>Genre: {{album.genre}}</h3>
      <h3>Released: {{album.releaseDate}}</h3>
      <p>
        <a href="{% url 'updateAlbum' album.albumID %}">UPDATE ALBUM</a>
      </p>

      <p>
        <a href="{% url 'deleteAlbum' album.albumID %}">DELETE ALBUM</a>
      </p>
    </div>
    {% endfor %}
  </div>
  <h2><a href="{% url 'songHome'%}">Songs:</a></h2>
  <div class="box-container">
    {% for song in songs %}
    <div class="box-display">
      <h3>Song: {{ song.songName }}</h3>
      <h3>Artist: {{song.artistID.artistName}}</h3>
      <h3>Album: {{song.albumID.albumName}}</h3>
      <h3>Genre: {{song.genre}}</h3>
      <h3>Released: {{song.releaseDate}}</h3>
      <h3>Streams: {{song.streams}}</h3>

      <p>
        <a href="{% url 'updateSong' song.songID %}">UPDATE SONG</a>
      </p>

      <p>
        <a href="{% url 'deleteSong' song.songID %}">DELETE SONG</a>
      </p>
    </div>
    {% endfor %}
  </div>
  <h2>Genres:</h2>
  <div class="box-container">
    {% for genre in genres %}
    <div class="box-display">
      <a href="{% url 'genreHome' genre.genreID %}">
        <h2>{{ genre.name }}</h2>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
